@font-face {
    font-family: 'sensations_and_qualitiesRg';
    src: url('sensations_and_qualities-webfont.woff2') format('woff2'),
         url('sensations_and_qualities-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'special_eliteregular';
    src: url('specialelite-webfont.woff2') format('woff2'),
         url('specialelite-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'still_timeregular';
    src: url('still_time-webfont.woff2') format('woff2'),
         url('still_time-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'timeburnerregular';
    src: url('timeburnernormal-webfont.woff2') format('woff2'),
         url('timeburnernormal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'waltographregular';
    src: url('waltograph42-webfont.woff2') format('woff2'),
         url('waltograph42-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'changa_oneregular';
    src: url('changaone-regular.woff2') format('woff2'),
         url('changaone-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'didact_gothicregular';
    src: url('didactgothic-webfont.woff2') format('woff2'),
         url('didactgothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'digital-7regular';
    src: url('digital-7-webfont.woff2') format('woff2'),
         url('digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'happy_monkeyregular';
    src: url('happymonkey-regular-webfont.woff2') format('woff2'),
         url('happymonkey-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'james_fajardoregular';
    src: url('james_fajardo-webfont.woff2') format('woff2'),
         url('james_fajardo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_proregular';
    src: url('mavenpro-regular-webfont.woff2') format('woff2'),
         url('mavenpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('open-sans.light-webfont.woff2') format('woff2'),
         url('open-sans.light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pompiere_regular';
    src: url('pompiere-regular-webfont.woff2') format('woff2'),
         url('pompiere-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'underground_nfregular';
    src: url('undergroundnf-webfont.woff2') format('woff2'),
         url('undergroundnf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'albaregular';
    src: url('alba____-webfont.woff2') format('woff2'),
         url('alba____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pecitabook';
    src: url('pecita-webfont.woff2') format('woff2'),
         url('pecita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'strasuaregular';
    src: url('strasua-webfont.woff2') format('woff2'),
         url('strasua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bottixregular';
    src: url('bottix-webfont.woff2') format('woff2'),
         url('bottix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vampiressregular';
    src: url('vampiress-webfont.woff2') format('woff2'),
         url('vampiress-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}